<div class="text" [@slideInLeft]="slideIn" (appAppear)="onAppear()">
        <span>
          <h1> Pavel Baštinec </h1>
          <h2> Programátor a Student FIT ČVUT </h2>
          <p>
            V oboru už se pohybuji více jak 8 let a vývoj je mým koníčkem, vyzkoušel jsem si nepřeberné
            množství technologií, ale nejdůležitější z nich jsou pro mě .NET Core, Angular, Firebase, C/C++.
            Mám silné základy ve vysokoškolské matematice a znalost velkého množství algoritmů. Momentálně
            se soustředím na vývoj webů (Full Stack), ale osudy života jsou nevyzpytatelná a člověk nemůže
            být webařem na vždy.
          </p>
          <button mat-button color="primary" class="goto-button">
              Můj Životopis
              <mat-icon> arrow_forward </mat-icon>
          </button>
          <button mat-button color="accent" class="goto-button">
            Kontakt
            <mat-icon> contacts </mat-icon>
          </button>
        </span>
</div>
<img src="./assets/images/avatar/1.png"
     class="avatar" alt="avatar"
     [@slideInRight]="slideIn"
     (appAppear)="onAppear()"/>
